
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
.header {
  padding: 10px;
  text-align: center;
  background-image: url('/images/logo.png');
  background-position: 5% 5%;
  background: #464EB8;
  color: white;
  font-size: 20px;
}
.callbutton1 {
  background-color: #5f5f5f; 
  border: none;
  position: fixed;
  top: 900px;
  Left: 800px;
  padding: 1px 1px;
  margin: 0px 2px;
  cursor: pointer;
}
.callbutton2 {
  background-color: #5f5f5f; 
  border: none;
  position: fixed;
  top: 900px;
  Left: 890px;
  padding: 1px 1px;
  margin: 0px 2px;
  cursor: pointer;
}
.callbutton3 {
  background-color: #5f5f5f; 
  border: none;
  position: fixed;
  top: 900px;
  Left: 980px;
  padding: 1px 1px;
  margin: 0px 2px;
  cursor: pointer;
}
.callbutton4 {
  background-color: #5f5f5f; 
  border: none;
  position: fixed;
  top: 900px;
  Left: 1070px;
  padding: 1px 1px;
  margin: 0px 2px;
  cursor: pointer;
}
.callbutton5 {
  background-color: #5f5f5f; 
  border: none;
  position: fixed;
  top: 900px;
  Left: 1160px;
  padding: 1px 1px;
  margin: 0px 2px;
  cursor: pointer;
}

body {
  background-color: #5f5f5f;


}

